/* MAIN */
.wrapper {
  /* THE HEIGHT IS SET TO 100vh MINUS THE HEADER */
  height: 85vh;

  /* WE DISABLE OVERFLOW-X, SINCE THE SCALING OF THE IMAGES WOULD ADD A HORIZONTAL SCROLLBAR */
  overflow-x: hidden;

  /* THIS ENABLES SCROLL ON PAGE */
  overflow-y: auto;

  /* THIS IS ESSENTIALLY THE STIMULATED DISTANCE FROM THE VIEWPORT TO TRANSFORMED OBJECTS */
  perspective: 3px;
}

.video-container {
  video { display: none; }
}

.section {
  position: relative;
  height: 42vh;
  width: 100vw;

  /* FOR THE TEXT */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0 5px #000;

   div.speciale {
    text-transform: uppercase;
    font-size: 15px;
    border: none;
    text-shadow: 0 0 5px #000;
    z-index: 1;
    text-align: center;

    > div {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      > a { margin-top: 5px; }
    }
  }

  a {
    border: 4px solid #fff;
    color: #fff;
    padding: 10px;
    text-decoration: none;
  }
}

.parallax::after {
  /* HERE IS THE DISPLAY AND POSITION OF PSEUDO-ELEMENT */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* FORCED THE BACKGROUND IMAGE TO FILL THE ENTIRE ELEMENT */
  background-size: 100%;
}

/* STYLING OF THE STATIC DIV */
.static {
  background: #323232;
  height: 50vh;
  width: 100%;

  > h1 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
  }
}

.footer {
  background-color: #323232;
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 40px;

  .brand {
    position: relative;
    top: 0px;
    left: 10px;
    width: 100px;
    height: 100px;
  }

  div {
    padding: 10px 0 10px 0;

    > li {
      list-style: none;
      display: inline-block;
      margin: 0 10px 0 10px;
    }
  }
}

/* BACKGROUND IMAGES */
.bg1::after { background-image: url("/img/koncept.png"); }
.bg2::after { background-image: url("/img/baggastronomiskinnovation.png"); }
.bg3::after { background-image: url("/img/cases.png"); }
.bg4::after { background-image: url("/img/kontakt.png"); }

/* MEDIA QUERY TABLET */
@media screen and (min-width: 768px) {
  .wrapper { height: 93vh; }

  .section {
    height: 60vh;

    div.speciale {
      font-size: 30px;
    }

    > h1 {
      font-size: 30px;
      letter-spacing: 5px;
      line-height: 50px;
    }
  }

  .parallax::after {
    /* THIS MOVES THE PSEUDO-ELEMENT BACK AWAY FROM THE CAMERA, AND THEN SCALE IT BACK UP TO FILL THE VIEWPORT */
    transform: translateZ(-1px) scale(1.5);

    /* KEEPS THE ELEMENTS FROM OVERLAPPING SIBLING ELEMENTS */
    z-index: -1;
  }

  .bg1::after, .bg2::after, .bg3::after, .bg4::after {
    background-size: 150%;
    height: 864px;
    background-position: center;
  }

  .footer {
    font-size: 25px;
    height: 100vh;
    padding-top: 100px;

    div {
      padding: 10px 0 10px 0;

      > ul {
        list-style: none;
        display: inline-block;
        margin: 0 10px 0 10px;
      }
    }
  }
}

/* MEDIA QUERY LAPTOP OR DESKTOP */
@media screen and (min-width: 1024px) {
  .wrapper { height: 95vh; }

  .video-container {
    overflow: hidden;
    position: relative;

    video {
      display: block;
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .section {
    height: 100vh;
    font-size: 35px;

    div.speciale {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > div {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        > a { margin-top: 75px; }
      }
    }
  }

  .static > h1 {
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 80px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .bg1::after, .bg2::after, .bg3::after, .bg4::after {
    background-size: 165%;
    height: 100vh;
    background-position: center;
  }
}
